<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu/nav.css">
    <link rel="stylesheet" href="/css/estoque/section.css">
    <link rel="stylesheet" href="/css/estoque/frame.css">
    <link rel="stylesheet" href="/css/menu/burger.css">
    <link rel="stylesheet" href="/css/add/add.css">
    <link rel="stylesheet" href="/css/menu/mobilenav.css">
    <link rel="stylesheet" href="/css/alert/validation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <script defer src="/js/menu/nav.js"></script>
    <script defer src="/js/alert/alert.js"></script>
    <script defer src="/js/menu/burger.js"></script>
    <script></script>
    <title>Estoque</title>
</head>